<p id="notice"><%= notice %></p>

<p>
  <strong>Sun opening time:</strong>
  <%= @timing.sun_opening_time %>
</p>

<p>
  <strong>Sun closing time:</strong>
  <%= @timing.sun_closing_time %>
</p>

<p>
  <strong>Is on sun:</strong>
  <%= @timing.is_on_sun %>
</p>

<p>
  <strong>Mon opening time:</strong>
  <%= @timing.mon_opening_time %>
</p>

<p>
  <strong>Mon closing time:</strong>
  <%= @timing.mon_closing_time %>
</p>

<p>
  <strong>Is on mon:</strong>
  <%= @timing.is_on_mon %>
</p>

<p>
  <strong>Tue opening time:</strong>
  <%= @timing.tue_opening_time %>
</p>

<p>
  <strong>Tue closing time:</strong>
  <%= @timing.tue_closing_time %>
</p>

<p>
  <strong>Is on tue:</strong>
  <%= @timing.is_on_tue %>
</p>

<p>
  <strong>Wed opening time:</strong>
  <%= @timing.wed_opening_time %>
</p>

<p>
  <strong>Wed closing time:</strong>
  <%= @timing.wed_closing_time %>
</p>

<p>
  <strong>Is on wed:</strong>
  <%= @timing.is_on_wed %>
</p>

<p>
  <strong>Thu opening time:</strong>
  <%= @timing.thu_opening_time %>
</p>

<p>
  <strong>Thu closing time:</strong>
  <%= @timing.thu_closing_time %>
</p>

<p>
  <strong>Is on thu:</strong>
  <%= @timing.is_on_thu %>
</p>

<p>
  <strong>Fri opening time:</strong>
  <%= @timing.fri_opening_time %>
</p>

<p>
  <strong>Fri closing time:</strong>
  <%= @timing.fri_closing_time %>
</p>

<p>
  <strong>Is on fri:</strong>
  <%= @timing.is_on_fri %>
</p>

<p>
  <strong>Sat opening time:</strong>
  <%= @timing.sat_opening_time %>
</p>

<p>
  <strong>Sat closing time:</strong>
  <%= @timing.sat_closing_time %>
</p>

<p>
  <strong>Is on sat:</strong>
  <%= @timing.is_on_sat %>
</p>

<p>
  <strong>Company:</strong>
  <%= @timing.company_id %>
</p>

<%= link_to 'Edit', edit_timing_path(@timing) %> |
<%= link_to 'Back', timings_path %>
