<div class="body undoreset" role="gridcell" tabindex="0" id="yui_3_16_0_1_1406047019335_18750"><div id="yiv1661072124">




     
    <title>ServuApp Email</title>
    
    <style type="text/css">
#yiv1661072124 div, #yiv1661072124 p, #yiv1661072124 a, #yiv1661072124 li, #yiv1661072124 td {}
</style>


<div id="yui_3_16_0_1_1406047019335_18755">
        
    <table border="0" cellpadding="0" cellspacing="0" width="640px" align="center" id="yui_3_16_0_1_1406047019335_18754">
        <tbody id="yui_3_16_0_1_1406047019335_18753"><tr id="yui_3_16_0_1_1406047019335_18752">
            <td id="yui_3_16_0_1_1406047019335_18751">
        
                <table border="0" cellpadding="0" cellspacing="0" width="600px" align="center" style="margin:10px 20px;" id="yui_3_16_0_1_1406047019335_18759">
                    <tbody id="yui_3_16_0_1_1406047019335_18758"><tr id="yui_3_16_0_1_1406047019335_18757"><td style="background:url(http://shahidbusiness.setmore.com/images/emailTemplate-images/top_bar.jpg) no-repeat;" height="26" id="yui_3_16_0_1_1406047019335_18756"></td></tr>

                    <tr style="background:#f3f3f3;" valign="top" id="yui_3_16_0_1_1406047019335_18770">
                        <td style="background:url(http://shahidbusiness.setmore.com/images/emailTemplate-images/body_background.jpg);" valign="top" id="yui_3_16_0_1_1406047019335_18769">

                            <table cellpadding="0" cellspacing="0" id="yui_3_16_0_1_1406047019335_18768">
                                <tbody id="yui_3_16_0_1_1406047019335_18767"><tr valign="top" style="line-height:15px;" id="yui_3_16_0_1_1406047019335_18766">
                                    <td width="30"><span>&nbsp;</span></td>
                                    
                                    <td width="340" id="yui_3_16_0_1_1406047019335_18765"> 
                                        <table cellpadding="0" cellspacing="0" id="yui_3_16_0_1_1406047019335_18764">
                                            <tbody id="yui_3_16_0_1_1406047019335_18763"><tr id="yui_3_16_0_1_1406047019335_18762"><td colspan="3" id="yui_3_16_0_1_1406047019335_18761"><img src="http://shahidbusiness.setmore.com/images/emailTemplate-images/thankyou.jpg" height="67" alt="Thank You" align="left" id="yui_3_16_0_1_1406047019335_18760"></td></tr>
                             
                                            <tr>
                                                <td colspan="3" style="background:url(http://shahidbusiness.setmore.com/images/emailTemplate-images/tr_bg.jpg) no-repeat;text-align:center;">
                                                    <h2 style="padding:0px;margin:0px;line-height:26px;font-size:12px;color:#333333;font-weight:normal;text-transform:uppercase;">FOR SCHEDULING AN APPOINTMENT</h2>
                                                </td>
                                            </tr>

                                            <tr><td colspan="3" style="border-bottom:1px solid #f3f3f3;">&nbsp;</td></tr>
                           
                                            <tr id="yui_3_16_0_1_1406047019335_18775">
                                                <td width="65" align="right" valign="top" style="border-bottom:1px solid #f3f3f3;padding:6px 0px;color:#bbbbbb;font-size:13px;line-height:18px;font-style:italic;">with</td>
                                                <td width="15" style="border-bottom:1px solid #f3f3f3;">&nbsp;</td>
                                                <td width="260" align="left" valign="top" style="border-bottom:1px solid #f3f3f3;padding:6px 0px;color:#444545;font-size:13px;line-height:18px;" id="yui_3_16_0_1_1406047019335_18774"><%= @staff.name%></td>
                                            </tr>

                                            <tr>
                                                <td width="65" align="right" valign="top" style="border-bottom:1px solid #f3f3f3;padding:6px 0px;color:#bbbbbb;font-size:13px;line-height:18px;font-style:italic;">of</td>
                                                <td width="15" style="border-bottom:1px solid #f3f3f3;">&nbsp;</td>
                                                <td width="260" align="left" valign="top" style="border-bottom:1px solid #f3f3f3;padding:6px 0px;color:#444545;font-size:13px;line-height:18px;"><%= @company.name%></td>
                                            </tr>

                                            <tr id="yui_3_16_0_1_1406047019335_18777">
                                                <td width="65" align="right" valign="top" style="border-bottom:1px solid #f3f3f3;padding:6px 0px;color:#bbbbbb;font-size:13px;line-height:18px;font-style:italic;">for a (n)</td>
                                                <td width="15" style="border-bottom:1px solid #f3f3f3;">&nbsp;</td>
                                                <td width="260" align="left" valign="top" style="border-bottom:1px solid #f3f3f3;padding:6px 0px;color:#444545;font-size:13px;line-height:18px;" id="yui_3_16_0_1_1406047019335_18776"><%= @service.name%></td>
                                            </tr>

                                            <tr id="yui_3_16_0_1_1406047019335_18781">
                                                <td width="65" align="right" valign="top" style="border-bottom:1px solid #f3f3f3;padding:6px 0px;color:#bbbbbb;font-size:13px;line-height:18px;font-style:italic;">on</td>
                                                <td width="15" style="border-bottom:1px solid #f3f3f3;">&nbsp;</td>
                                                <td width="260" align="left" valign="top" style="border-bottom:1px solid #f3f3f3;padding:6px 0px;color:#444545;font-size:13px;line-height:18px;" id="yui_3_16_0_1_1406047019335_18780"><%= @time%></td>
                                            </tr>
                                            
                                             <tr>
                                                
                                            </tr>

                                            <tr>
                                                <td colspan="3" style="line-height:18px;">&nbsp;</td>
                                            </tr>

                                            
                                            <tr id="yui_3_16_0_1_1406047019335_18783">
                                                <td colspan="3" align="left" valign="top" style="padding:6px 0px;color:#444545;font-size:13px;line-height:18px;" id="yui_3_16_0_1_1406047019335_18782">
                                                    
                                                    <br>
                                                    Thanks,<br><%= @company.name%><br>
                                                </td>
                                            </tr>

                                        </tbody></table>
                                    </td>

                                    <td width="30"><span>&nbsp;</span></td>

                                    <td width="15"><span>&nbsp;</span></td>

                                    <td width="175" valign="top" align="left">
                                        
                                        

                                        <table cellpadding="0" cellspacing="0">
                                            <tbody><tr valign="top">
                                                <td>
                                                    <h3 style="font-size:13px;color:#666766;margin:25px 0px 0px 0px;padding:0px;"><%= @company.name%></h3>

                                                    <p style="color:#666766;line-height:20px;padding:0px 0px 5px 0px;margin:0px;">
                                                       
                                                    </p>
            
                                                        
                                                    <code style="min-height:25px;display:block;"></code>

                                                    <p style="color:#666766;line-height:20px;padding:0px 0px 5px 0px;margin:0px;">
                                                        <b>shahid </b><br>
                                                        
                                                    </p>
                                                    <a rel="nofollow" ymailto="mailto:shahidjutt72@yahoo.com" target="_blank" href="mailto:<%= @staff.email%>" style="color:#1284c6;text-decoration:none;">Email</a>
                                                                
                                                    <code style="min-height:25px;display:block;"></code>
                                                        
                                                        <br><br>
                                                        
                                                    
                                                    <br><br>
                                                    
                                                </td>
                                            </tr>
                                        </tbody></table>
                                    </td>
                                </tr>                    
                            </tbody></table>
            
                        </td>
                    </tr>
     
                    <tr><td style="background:url(<%= DOMAIN%>/assets/logo.png) no-repeat;" height="30"></td></tr>

                    <tr>
                        <td align="left">
                            <img style="float:left;margin:5px 0px 0px 0px;" src="<%= DOMAIN%>/assets/logo.png" width="107" height="53">

                            <p style="font-size:11px;color:#787878;padding:0px;margin:19px 0px 0px 20px;float:left;line-height:18px;">
                                This appointment was sent via 
                               <a rel="nofollow" style="color:#787878;" target="_blank" href="<%= DOMAIN%>">ServuaApp</a>.
                                
                                We empower global entrepreneurs.<br>
                                
                            </p>

                        </td>
                    </tr>
                </tbody></table>
        
            </td>
        </tr>
    </tbody></table>
    
</div>


</div></div>