<div class="body undoreset" id="yui_3_16_0_1_1401011828312_2686"><div id="yiv4884745521">
    
    
    
    
    	 
    	<title>ServuApp Email</title>
    	
    	<style type="text/css">
    #yiv4884745521 div, #yiv4884745521 p, #yiv4884745521 a, #yiv4884745521 li, #yiv4884745521 td {}
    </style>
    
    
    <div id="yui_3_16_0_1_1401011828312_2685">
    		
    	<table border="0" cellpadding="0" cellspacing="0" width="640px" align="center" id="yui_3_16_0_1_1401011828312_2684">
    		<tbody id="yui_3_16_0_1_1401011828312_2683"><tr id="yui_3_16_0_1_1401011828312_2682">
    			<td id="yui_3_16_0_1_1401011828312_2681">
    		
    				<table border="0" cellpadding="0" cellspacing="0" width="600px" align="center" style="margin:10px 20px;" id="yui_3_16_0_1_1401011828312_2680">
    					<tbody id="yui_3_16_0_1_1401011828312_2679"><tr id="yui_3_16_0_1_1401011828312_2678"><td style="background:url(https://my.setmore.com/images/emailTemplate-images/top_bar.jpg) no-repeat;" height="26" id="yui_3_16_0_1_1401011828312_2677"></td></tr>
    					<tr style="background:#f3f3f3;" valign="top" id="yui_3_16_0_1_1401011828312_2831">
    						<td style="background:url(https://my.setmore.com/images/emailTemplate-images/body_background.jpg) repeat-y;" valign="top" id="yui_3_16_0_1_1401011828312_2830">
    
    							<table cellpadding="0" cellspacing="0" id="yui_3_16_0_1_1401011828312_2829">
    								<tbody id="yui_3_16_0_1_1401011828312_2828"><tr valign="top" style="line-height:15px;" id="yui_3_16_0_1_1401011828312_2827">
    									<td width="30"><span>&nbsp;</span></td>
    									
    									<td width="340" id="yui_3_16_0_1_1401011828312_2840"> 
    			                        	<table cellpadding="0" cellspacing="0" id="yui_3_16_0_1_1401011828312_2839">
    											<tbody id="yui_3_16_0_1_1401011828312_2838"><tr id="yui_3_16_0_1_1401011828312_2837">
    												<td colspan="3" id="yui_3_16_0_1_1401011828312_2836">
    													<img src="https://my.setmore.com/images/emailTemplate-images/new_appointment.jpg" height="67" alt="New Appointment" border="0" style="display:block;" id="yui_3_16_0_1_1401011828312_2835">
    												</td>
    											</tr>
    
    			                                <tr id="yui_3_16_0_1_1401011828312_2843">
    												<td colspan="3" style="background:url(https://my.setmore.com/images/emailTemplate-images/tr_bg.jpg) no-repeat;text-align:center;" id="yui_3_16_0_1_1401011828312_2842">
    													<h2 style="padding:0px;margin:0px;line-height:26px;font-size:12px;color:#333333;font-weight:normal;text-transform:uppercase;" id="yui_3_16_0_1_1401011828312_2841">YOU HAVE A NEW APPOINTMENT</h2>
    												</td>
    											</tr>
    
    			                                <tr><td colspan="3" style="border-bottom:1px solid #f3f3f3;">&nbsp;</td></tr>
    			                                
    			                                <tr>
    												<td width="65" align="right" valign="top" style="border-bottom:1px solid #f3f3f3;padding:6px 0px;color:#bbbbbb;font-size:13px;line-height:18px;font-style:italic;">provider</td>
    												<td width="15" style="border-bottom:1px solid #f3f3f3;">&nbsp;</td>
    												<td width="260" align="left" valign="top" style="border-bottom:1px solid #f3f3f3;padding:6px 0px;color:#444545;font-size:13px;line-height:18px;"><%= @staff.name%></td>
    			                                </tr>
                               
    			                                <tr>
    												<td width="65" align="right" valign="top" style="border-bottom:1px solid #f3f3f3;padding:6px 0px;color:#bbbbbb;font-size:13px;line-height:18px;font-style:italic;">for a (n)</td>
    												<td width="15" style="border-bottom:1px solid #f3f3f3;">&nbsp;</td>
    												<td width="260" align="left" valign="top" style="border-bottom:1px solid #f3f3f3;padding:6px 0px;color:#444545;font-size:13px;line-height:18px;"><%= @service.name%></td>
    			                                </tr>
    
    			                                <tr id="yui_3_16_0_1_1401011828312_2848">
    												<td width="65" align="right" valign="top" style="border-bottom:1px solid #f3f3f3;padding:6px 0px;color:#bbbbbb;font-size:13px;line-height:18px;font-style:italic;">on</td>
    												<td width="15" style="border-bottom:1px solid #f3f3f3;">&nbsp;</td>
    												<!-- <td width="260" align="left" valign="top" style="border-bottom:1px solid #f3f3f3;padding:6px 0px;color:#444545;font-size:13px;line-height:18px;" id="yui_3_16_0_1_1401011828312_2847">Tuesday, 20 May 2014 at 9:15 am</td> -->
                            <td width="260" align="left" valign="top" style="border-bottom:1px solid #f3f3f3;padding:6px 0px;color:#444545;font-size:13px;line-height:18px;" id="yui_3_16_0_1_1401011828312_2847"><%= @time%></td>
    			                                </tr>
    
    			                                <tr>
    			                    				<td colspan="3" style="border-bottom:1px solid #f3f3f3;padding:6px 0px;line-height:18px;">&nbsp;</td>
    			                   				</tr>
                                 
    			                                <tr>
    												<td width="65" align="right" valign="top" style="border-bottom:1px solid #f3f3f3;padding:6px 0px;color:#bbbbbb;font-size:13px;line-height:18px;font-style:italic;">customer</td>
    												<td width="15" style="border-bottom:1px solid #f3f3f3;">&nbsp;</td>
    												<td width="260" align="left" valign="top" style="border-bottom:1px solid #f3f3f3;padding:6px 0px;color:#444545;font-size:13px;line-height:18px;"><%= @customer.name%></td>
    			                                </tr>
    
    			                                <tr id="yui_3_16_0_1_1401011828312_2850">
    												<td width="65" align="right" valign="top" style="border-bottom:1px solid #f3f3f3;padding:6px 0px;color:#bbbbbb;font-size:13px;line-height:18px;font-style:italic;">Email</td><td width="15" style="border-bottom:1px solid #f3f3f3;">&nbsp;</td><td width="260" align="left" valign="top" style="border-bottom:1px solid #f3f3f3;padding:6px 0px;color:#444545;font-size:13px;line-height:18px;" id="yui_3_16_0_1_1401011828312_2849"><%= @customer.email%></td>
    			                                </tr>
    
    			                                <tr>
    												<td width="65" align="right" valign="top" style="border-bottom:1px solid #f3f3f3;padding:6px 0px;color:#bbbbbb;font-size:13px;line-height:18px;font-style:italic;">Phone</td><td width="15" style="border-bottom:1px solid #f3f3f3;">&nbsp;</td><td width="260" align="left" valign="top" style="border-bottom:1px solid #f3f3f3;padding:6px 0px;color:#444545;font-size:13px;line-height:18px;"><%= @customer.mobile_phone%></td>
    			                                </tr>
    			                                 <tr>
    												<td width="65" align="right" valign="top" style="border-bottom:1px solid #f3f3f3;padding:6px 0px;color:#bbbbbb;font-size:13px;line-height:18px;font-style:italic;">Address</td><td width="15" style="border-bottom:1px solid #f3f3f3;">&nbsp;</td><td width="260" align="left" valign="top" style="border-bottom:1px solid #f3f3f3;padding:6px 0px;color:#444545;font-size:13px;line-height:18px;"><%= @customer.fulladdress%></td>
    			                                </tr>
    
    			                                <tr>
    												
    			                                </tr>
    											<tr>
    											   
    										    </tr> 
    			                                <tr><td colspan="3" height="30">&nbsp;</td></tr>
    			                            </tbody></table>
    								</td>
    
    									<td width="30" id="yui_3_16_0_1_1401011828312_2834"><span>&nbsp;</span></td>
    
    									<td width="15"><span>&nbsp;</span></td>
    
    			                       	<td width="175" valign="top" align="left" id="yui_3_16_0_1_1401011828312_2826">
    										
    										
    
    			                           	<table cellpadding="0" cellspacing="0" id="yui_3_16_0_1_1401011828312_2825">
    											<tbody id="yui_3_16_0_1_1401011828312_2824"><tr valign="top" id="yui_3_16_0_1_1401011828312_2823">
    			                                    <td id="yui_3_16_0_1_1401011828312_2822">
    			                                    	<h3 style="font-size:13px;color:#666766;margin:25px 0px 0px 0px;padding:0px;" id="yui_3_16_0_1_1401011828312_2832"><%= @company.name%></h3>
    
    			                                        <p style="color:#666766;line-height:20px;padding:0px 0px 5px 0px;margin:0px;" id="yui_3_16_0_1_1401011828312_2833">
    			                                           
    			                                        </p>
    			
    			                                        <code style="min-height:25px;display:block;" id="yui_3_16_0_1_1401011828312_2851"></code>
    			                                    </td>
    			                                </tr>
    										</tbody></table>
    									</td>
    			                    </tr>                    
    			                </tbody></table>
    			
    			            </td>
    			        </tr>
    
    			        <tr><td style="background:url(#{DOMAIN}/assets/logo.png) no-repeat;" height="30"></td></tr>
    
    			        <tr>
    			        	<td align="left">
    			            	<img style="float:left;margin:5px 0px 0px 0px;" src="https://my.setmore.com/images/emailTemplate-images/footer_logo.png" width="107" height="53">
    
    			            	<p style="font-size:11px;color:#787878;padding:0px;margin:19px 0px 0px 20px;float:left;line-height:18px;">
    								This appointment was sent via 
    								<a rel="nofollow" style="color:#787878;" target="_blank" href="<%= DOMAIN%>">ServuaApp</a>.
    								
    								We empower global entrepreneurs.<br>
    								
    							</p>
    
    			            </td>
    					</tr>
    				</tbody></table>
    			
    			</td>
    		</tr>
    	</tbody></table>
    	
    </div>
    
    </div></div>