%link{:href =>"/assets/customer.css", :rel =>"stylesheet"}
-#.push
.padded-none.container-fluid
  .row-fluid
    .span3
      %section.side
        %header
          %h3 
            Customers
            / %button.btn.btn-success.pull-right
            /   %i.fa.fa-plus>
            /   \  Add New
          %input.input-block-level{placeholder: "Search Customer...", type: "text"}/
        .side-content
          %ul.media-list
            -@customers.each do |customer|
              %li.media
                %a{href: "#", :class =>"switch_customer pull-left", :cust_id => customer.id}
                  %img.img-circle{src: "/assets/customer.png"}/
                .media-body
                  %a.pull-right{"data-confirm" => "Are you sure?", "data-method" => "delete", href: customer, rel: "nofollow"}
                    %i.fa.fa-times
                  %span{:class =>"switch_customer", :cust_id => customer.id, :style =>"cursor:pointer;"}
                    %h4.media-heading #{customer.name}
                    %p #{customer.fulladdress}            
    -@customers.each do |customer|
      .span9.content{:style =>"#{customer.id == @customers.first.id ? 'display:block;' : 'display:none;'}", :class =>"customer_tab_#{customer.id} common_class"}
        .container-fluid
          .row-fluid
            .span10
              .tab-content              
                .sub_customer
                  .tab-pane.active{:id =>"customer_#{customer.id}"}
                    %form.form-horizontal{:class =>"form_fields_#{customer.id}"}
                      .control-group
                        %label.control-label{for: "inputEmail"}
                          %img{src: "/assets/customer.png", width: "60%"}/
                        .controls
                          %input#inputName{placeholder: "Name", type: "text", :value =>customer.name, :class =>"common_field", :cust_id =>customer.id, :field_name => "name"}/                      
                      .control-group
                        %label.control-label{for: "inputEmail"} Email
                        .controls
                          %input#inputEmail{placeholder: "Email", type: "text", :value => customer.email, :class =>"common_field", :cust_id =>customer.id, :field_name => "email"}/
                      .control-group
                        %label.control-label{for: "inputMobile"} Mobile
                        .controls
                          %input#inputMobile{placeholder: "Mobile", type: "text", :value => customer.mobile_phone, :class =>"common_field", :cust_id =>customer.id, :field_name => "mobile_phone"}/
                      .control-group
                        %label.control-label{for: "inputOffice"} Office
                        .controls
                          %input#inputOffice{placeholder: "Phone", type: "text", :value => customer.office_phone, :class =>"common_field", :cust_id =>customer.id, :field_name => "office_phone"}/
                      .control-group
                        %label.control-label{for: "inputHome"} Home
                        .controls
                          %input#inputHome{placeholder: "Phone", type: "text", :value => customer.home_phone, :class =>"common_field", :cust_id =>customer.id, :field_name => "home_phone"}/
                      .control-group
                        %label.control-label{for: "inputAddress"} Address
                        .controls
                          %textarea#inputAddress{placeholder: "Address", rows: "6", :value => customer.address, :class =>"common_field", :cust_id =>customer.id, :field_name => "address"}
                            = customer.address
                      .control-group
                        %label.control-label{for: "inputCity"} City
                        .controls
                          %input#inputCity{placeholder: "City", type: "text", :value => customer.city, :class =>"common_field", :cust_id =>customer.id, :field_name => "city"}/
                      .control-group
                        %label.control-label{for: "inputState"} State
                        .controls
                          %input#inputState{placeholder: "State", type: "text", :value => customer.state, :class =>"common_field", :cust_id =>customer.id, :field_name => "state"}/
                      .control-group
                        %label.control-label{for: "inputZip"} Zip
                        .controls
                          %input#inputZip{placeholder: "Zip", type: "text", :value => customer.zip, :class =>"common_field", :cust_id =>customer.id, :field_name => "zip"}/
                      .control-group
                        %label.control-label{for: "inputZip"} Country
                        .controls
                          %input#inputZip{placeholder: "Zip", type: "text", :value => customer.ountry, :class =>"common_field", :cust_id =>customer.id, :field_name => "ountry"}/    
                  .tab-pane{:id =>"appointments_#{customer.id}"} 
                    -slots = customer.slots
                    %ul#appointmentList.appointmentList
                      -slots.each do |slot|
                        %li#c30.hasHoverStyles
                          %span.fl.appointment_status_icon
                            %i.icon-calendar
                          .fl
                            %h4 #{slot.slot_start_time.to_date}
                            %label
                              %span.fl #{slot.staff.name}
                              %span.fl.dotSplitter .
                              %span.fl #{slot.service.name}
                              %span.fl.dotSplitter .
                              %span.fl #{slot.service.service_time} min
                              %span.fl.dotSplitter .
                              %span.fl $#{slot.service.cost}
                              .clearfix
                          .clearfix
                  .tab-pane{:id =>"notes_#{customer.id}"}
                    %form.form-horizontal
                      / .control-group
                      /   %label.control-label{for: "inputEmail"}
                      /     %img{src: "/assets/customer.png", width: "60%"}/
                      /   .controls
                      /     %input#inputTemp{placeholder: "Name", type: "text"}/
                      /     %button.btn.btn-success.pull-right
                      /       %i.fa.fa-plus>
                      /       \  Add New
                      .control-group
                        %label.control-label{for: "inputNote"} Note
                        .controls
                          %textarea#inputNote{placeholder: "Please type note,note should be less then 256 characters", rows: "15", :class =>"common_field", :cust_id =>customer.id, :field_name => "notes"}
                            = customer.notes                  
            .span2.left-1
              %ul.nav.nav-tabs.tabs-right
                %li.active
                  %a{"data-toggle" => "tab", href: "#customer_#{customer.id}"}
                    %i.fa.fa-users.tab-big>
                    \  Customer
                %li
                  %a{"data-toggle" => "tab", href: "#appointments_#{customer.id}"}
                    %i.fa.fa-calendar.tab-big>
                    \  Appointments
                %li
                  %a{"data-toggle" => "tab", href: "#notes_#{customer.id}"}
                    %i.fa.fa-paper-plane.tab-big>
                    \  Notes
:javascript
  $('.switch_customer').click(function(e){
    cust_id = $(this).attr('cust_id')
    $('.common_class').hide();
    $('.customer_tab_'+cust_id).show();
    e.preventDefault();
  })
  $('.common_field').change(function(e){
    cust_id = $(this).attr('cust_id');    
    val = $(this).val();
    field = $(this).attr('field_name');
    $.get('/customers/'+cust_id+'/update_attributes'+'?value='+val+'&field_name='+field,function(data){

    });

  })                    