!!!
%html
	%head
		%title Topcut
		= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
		= javascript_include_tag "application", "data-turbolinks-track" => true
		= csrf_meta_tags
	%body
		-if current_user
			= link_to "Sign Out", "/users/sign_out"
			-if current_user and current_user.company
				= link_to "calendar", root_path
				|
				= link_to "customers", customers_path
				|
				= link_to "Setting", settings_path
				|
				= link_to "Profile", profile_users_path
				|
				= link_to current_user.company.name, root_url(:subdomain => current_user.company.name)
		-else			
			-#= link_to "Sign In From Facebook", "/auth/facebook"
			%a{:href =>"/auth/facebook"}
				%img{:src =>"/assets/sign_in_from_fb.png", :width => "190"}
			%br
			= link_to "Sign In", "/users/sign_in"
			%br
			= link_to "Sign Up", "/users/sign_up"
		
		- if notice
			%br
			= notice  
		= yield