!!!
%html
	%head
		%title ServeU - we'r here to serve you
		
		= javascript_include_tag "application", "data-turbolinks-track" => true
		= csrf_meta_tags		
		= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
	%body
		-if !current_user and !(params[:controller]=="companies" and params[:action]=="show")
			#signin_header{style: "display: none"}
				%h3.text-center Sign In!
				%p.small Get a free account in 30 seconds. No credit card required. Sign in quick with your social login click on social buttons below
			#signup_header{style: "display: none"}
				%h3.text-center SignUp Free!
				%p.small Get a free account in 30 seconds. No credit card required. Sign in quick with your social login click on social buttons below	
			#signin_popup{style: "display: none"}
				= form_for(User.new, :url => user_session_path, :html =>{:class =>"sign_in_form"}) do |f|
					.signin.text-center
						= f.email_field :email,:placeholder => "Email", :required => "required"
						= f.password_field :password,:placeholder => "Password", :required => "required"			
						= f.submit "sign in", :class => "sign_in_button btn-text"
						-#%a.btn-text{href: "#", :class =>"sign_in_button"} Sign In
			#signup_popup{style: "display: none"}
				= form_for(User.new, :url => user_registration_path, :html =>{:class =>"sign_up_form"}) do |f|
					.signin.text-center
						= f.email_field :email,:placeholder => "Email", :required => "required"
						= f.password_field :password,:placeholder => "Password", :required => "required"			
						= f.password_field :password_confirmation,:placeholder => "Password Confirmation", :required => "required"			
						= f.submit "sign Up", :class => "sign_up_button btn-text"
						-#%a.btn-text{href: "#", :class =>"sign_up_button"} SignUp
		= render :partial => "layouts/main_nenu"
		
		%input#for_notice.notice_value{name: "for_notice", type: "hidden", :value => notice}/
		#noticeModal.modal.fade.message_box{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", style: "display:none;", tabindex: "-1"}
			.modal-dialog
				.modal-content
					.terms_content
						.terms_top_row
							.message.for_putting_notice
							.clear
						.ok_button_row.for_close_button
							.login_button.for_hide_message
								%a.pink_button{href: "#"}
									OK		
		= yield
:javascript
	$(document).ready(function(){
		$('.for_hide_message').click(function(e){
			$('#noticeModal').modal('hide');
			$('#ageModal').modal('hide');
			e.preventDefault();  
		});
		note=$('.notice_value').val();    
		if(note && note!=""){
			$('#noticeModal').modal('show');
			$('.for_putting_notice').html(note); 
		}
	});
	function sign_up_validations(){
		$(".sign_up_form").each(function(indx,elem){
		$(elem).validate({
		 rules :{
			 "user[email]":{
				 required: true,
				 email: true
			 },
			 "user[password]":{
				 required: true,
				 minlength: 8
			 },
			 "user[password_confirmation]":{
				 required: true,
				 minlength: 8,
				 equalTo: $(elem).find('#user_password')
			 }
		 },
		 messages: {

		 },
		 submithandler: function(form)
		 {
			form.submit();
		 }
		});
	});
	}
	sign_up_validations();
	
	$(document).ready(function () {
		$("#main").onepage_scroll();
		$("#btn-signin").popover({
			html: true, content: function () { return $('#signin_popup').html(); }, title: function () { return $('#signin_header').html(); }
		});
		$("#btn-signup").popover({
			html: true, content: function () { return $('#signup_popup').html(); }, title: function () { return $('#signup_header').html(); }
		});
		$("#btn-signin").click(function(e){
			$('#btn-signup').parents('li').find('.fade').hide();				
			
		})
		$("#btn-signup").click(function(e){
			$('#btn-signin').parents('.sign_in_class').find('.fade').hide();
			$('#btn-signup').parents('li').find('.fade').css('left','-54.5px !important');
			sign_up_validations();
		})
		$('.sign_in_button').click(function(e){
			$('.sign_in_form').submit();				
			e.preventDefault();
		})
		$('.sign_up_button').click(function(e){
			$('.sign_up_form').submit();				
			e.preventDefault();
		})
	});
				